.detailsContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.detailsContainer .bigImage {
    max-height: 50vh;
    width: auto;
}