* {
    box-sizing: border-box;
}

.bookContainer {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    height: 100%;
}

.bookContainer img {
    max-width: 30px;
    height: auto;
}

.active {
    background-color: darkgray;
}